body{
 
    font-family: Arial, Helvetica, sans-serif;
  }
  nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: #9ACD32;
    border-bottom: 1px solid #fff;
    z-index: 9999;
  }
  nav .logo{
    padding: 25px 20px;
    height: 80px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
  }
  nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
  
  }
  nav ul li a{
    line-height: 80px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
  }
  a{
    color: white;
    text-decoration: none;
    padding: 17px;
  }
  .hamburger {
    display: inline;
  }
  a:hover{
    background-color: grey;
  }
    


h2{
  padding-top: 150px;
  padding-left: 650px;
}


.kont{
  padding-left: 200px;
  padding-bottom: 150px;
  border-radius: 5px;
  font-size: 25px;
  padding-top: 50px;

  
}
.kont input{
  border-radius: 5px;
  font-size: 25px;

}
.kont textarea{
  border-radius: 5px;
  font-size: 25px;
  padding-bottom: 10px;
}
.kont button:hover{
  border-radius: 5px;
  background-color: gray;
  font-size: 25px;
 
}
.kont button{
  font-size: 20px;

}


.ko{
  padding-right: 30px;
  font-size: 20px;
  padding-top: 50px;
  padding-left: 200px;
  line-height: 70px;
  padding-right: 100px; 
}
.ko a{
  color: black;
  padding-left: 1px;
}
.doko{
  display: flex;
}


ul{
  line-height: 50px;
  left: 30px;
}

footer{
  padding-top: 2px;
  padding-bottom: 2px;
  background-color:#9ACD32;
  }
  .row{
  display:flex;
  color: white;
  
  }

  .row-d{
    padding-left: 250px;
   
   }
   .row-d h2{
    padding-left: 0px;
    padding-top: 5px;
   }


 .col-25{
   padding-left: 40px;
   
 }
 .col-25 h2{
   padding-left: 40px;
   padding-top: 5px;
 }

.copy{
text-align: center;
color: white;
}

